body {
    font-family: 'Roboto', sans-serif;
  }
  
  main {
    padding: 16px;
  }
  
  .MuiDrawer-paper {
    width: 240px;
  }
  
  .MuiAppBar-root {
    z-index: 1201; /* To make the AppBar appear above the Drawer */
  }
  