body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  transition: background-color 0.3s, color 0.3s;
}

* {
  box-sizing: border-box;
}

h3, h5 {
  margin: 0;
  color: inherit; /* Ensure headers use theme color */
}

.MuiPaper-root {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.MuiTableHead-root th {
  font-weight: bold;
  background-color: #f0f0f0;
}

.MuiTableCell-root {
  padding: 16px;
}

body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

body.dark-theme .MuiTableHead-root th {
  background-color: #424242;
  color: #ffffff;
}

.react-big-calendar {
  background-color: inherit; /* Make sure the calendar inherits the background color from the parent element */
  color: inherit; /* Make sure the calendar text inherits the color from the parent element */
}

.react-big-calendar .rbc-toolbar button {
  color: inherit; /* Ensure toolbar buttons use the theme color */
}

.react-big-calendar .rbc-month-view, .rbc-time-view, .rbc-agenda-view {
  background-color: inherit; /* Ensure the main calendar views use the background color from the parent element */
}
